* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: aqua;
  color: black;
  font-size: 3em;
}

.container {
  border: 10px;
  border-style: solid;
  border-color: blueviolet;
}

.items {
  background-color: red;
  border: 1px;
  border-style: solid;
  border-color: wheat;
  text-align: center;
  padding: 1%;
}